


/* nav bar style starts here */
.container{
  height: 100px;
  max-width: 1600px;
  border: 2px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.link-container{
  background-color: red;
  width: 50%;
}




/* nav bar style finish here */
